<div>
    <div class="modal-body">
        <h4>Add new album</h4>
        <hr>
        <form name="form" class="form-horizontal">
            <div class="form-group">
                <label for="inputAlbum" class="col-sm-3 control-label" style="text-align: left">Album Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputAlbum" placeholder="Album Name" ng-model="vm.album.album_name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputArtist" class="col-sm-3 control-label" style="text-align: left">Artist | Band:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputArtist" placeholder="Artist name" ng-model="vm.album.artist">
                </div>
            </div>

            <div class="form-group">
                <label for="inputYear" class="col-sm-3 control-label" style="text-align: left">Year:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputYear" placeholder="Default Year is 0" ng-model="vm.album.album_year">
                </div>
            </div>

            <div class="form-group">
                <label for="inputCondition" class="col-sm-3 control-label" style="text-align: left">Condition:</label>
                <div class="col-sm-9">
                    <select class="form-control" id="inputCondition" ng-model="vm.album.album_condition">
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="1">Mint (M)</option>
                        <option value="2">Near Mint (NM)</option>
                        <option value="3">Very Good Plus (VG+)</option>
                        <option value="4">Very Good (VG)</option>
                        <option value="5">Good (G)</option>
                        <option value="6">Good Plus (G+)</option>
                        <option value="7">Poor (P)</option>                 
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputCondition" class="col-sm-3 control-label" style="text-align: left">Note:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3" id="inputCondition" placeholder="Note ..." ng-model="vm.album.note"></textarea>
                </div>
            </div>            

            <div class="form-group">
                <label for="inputUPC" class="col-sm-3 control-label" style="text-align: left">UPC</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputUPC" placeholder="UPC" ng-model="vm.album.upc">
                </div>
            </div> 

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" class="btn btn-default" data-ng-click="vm.upc()">Populate UPC</button>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-ng-click="vm.save()">Save</button>
        <button class="btn btn-warning" data-ng-click="vm.cancel()">Cancel</button>
    </div>
</div>
